*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

main{
    width: 100%;
}

h1{
    text-align: center;
    padding: 1rem;
}

img{
    display: block;
    padding: 1rem;
    text-align: center;
}



footer {
    text-align: center;
    padding: 20px 10px;
    background-color: #333;
    color: white;
    width: 100%;
    bottom: 0;
    left: 0;
}