@media (min-width: 710px){

/*START HEADER CODE*/
nav {
    padding: 1.5rem 2rem;
}

.nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    justify-content: flex-end;
    background-color: transparent;
}

.nav-links a {
    color: #fff;
    padding: 1rem;
}

.burger {
    display: none; /* Hide burger menu on larger screens */
}

/*END HEADER CODE*/

/*START HERO CODE*/


/* Hero Section for Desktop */
.hero {
    height: 85vh; /* Taller on larger screens */
}

.hero-content {
    top: 40%; /* Position slightly higher */
}

.hero-content h1 {
    font-size: 3.5rem; /* Larger font for desktop */
}

.btn-primary {
    padding: 1rem 2rem;
    font-size: 1.25rem;
}

/*END HERO CODE*/






















/*START FOOTER CODE*/

/* Footer styles for desktop */
footer {
    padding: 1.5rem 3rem;
}

/* Align top section (logo + links) in a single line */
.top-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
}

.left-section {
    display: flex;
    align-items: center;
}

.left-section p.disclaimer{
    margin-left: 20px;
}

.footer-logo{
    margin-bottom: 0;
}

.footer-logo img {
    width: 80px;
    margin-right: 2rem; /* Spacing between the logo and text */
}

.left-section p {
    margin: 0;
    font-size: 1rem;
}

/* Style for the horizontal line */
hr {
    border: 0;
    border-top: 1px solid #fff;
    opacity: 0.5;
    margin: 1.5rem 0;
}

/* Bottom section in a single line and aligned to the right */
.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.bottom-section p {
    margin-left: 2rem;
    font-size: 0.9rem;
    opacity: 0.8;
}

/*END FOOTER CODE*/

}