@media (min-width: 768px) {
    /* For larger screens */
    .header-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-content {
        padding: 1rem;
    }

    .header-content h1{
        padding: 1rem;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
    }

    nav a {
        display: inline-block;
        width: 100%;
        margin: 0px;
    }

    nav a:hover{
        background-color: #fff;
        color: #333;
    }

    /* Hide the hamburger button in desktop*/
    .hamburger {
        display: none;
    }

    
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #000;
    }

    .menu a {
        padding: 10px 20px; 
        text-align: center;
    }


    /* Dark mode styles for desktop */
    body.dark-mode {
        background-color: #121212;
        color: #e0e0e0;
    }

    .dark-mode main {
        background-color: #1f1f1f;
    }

    .dark-mode header, .dark-mode footer {
        background-color: #333;
        color: #fff;
    }

    .dark-mode .card {
        background-color: #2a2a2a;
    }

    .dark-mode .card h2 {
        background-color: #444;
    }

    .dark-mode .menu a {
        color: #fff;
        background-color: #444;
    }

    .dark-mode .menu a:hover {
        background-color: #fff;
        color: #000;
    }

    /*END*/

    main {
        max-width: 960px;
        margin: 0 auto;
    }

    main h1{
        border-bottom: 1px solid #333;
        padding-bottom: 0px;
        font-size: 24px;
    }

    .card-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        padding: 10px 0;
    }

    .card {
        padding: 0px;
    }

    .card h2{
        font-size: 20px;
    }

    .card li{
        list-style-type: none;
        font-size: 16px;
    }
    
    .card .learn-list{
        padding: 1rem;
    }
    
    .card .info-list{
        text-align: center;
        padding: 1rem;
    }

    footer {
        text-align: center;
        padding: 20px 10px;
        background-color: #333;
        color: white;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
}

